.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.shabad-row-gurmukhi {
  font-size: 74px;
  margin-top: 5%;
  text-align: center;
  font-weight: bold;
}
